<a href="https://colab.research.google.com/github/pintophilip/PythonSession21APR/blob/main/16_GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is Groupby in Pandas?

In [ ]:
import pandas as pd
import numpy as np

/Users/akashdeepmakkar/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/akashdeepmakkar/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (
/var/folders/dq/452wvgp96nv2qcc3dn0dv8240000gn/T/ipykernel_62455/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
data = {
    'gender': ['m', 'm', 'm', 'f', 'f'],
    'wt': [60, 70, 80, 60, 70]
}

df = pd.DataFrame(data)

In [ ]:
df.head()

  gender  wt
0      m  60
1      m  70
2      m  80
3      f  60
4      f  70

In [ ]:
df['wt'].mean()

68.0

In [ ]:
df.groupby(['gender'])[['wt']].mean()

          wt
gender
f       65.0
m       70.0

In [ ]:
df.groupby(['gender']).count()

        wt
gender
f        2
m        3

In [ ]:
data = {
    'gender': ['m', 'm', 'm', 'f', 'f'],
    'wt': [60, 70, 80, 60, 70],
    'ht': [160, 170, 180, 160, 170]
}

df = pd.DataFrame(data)

In [ ]:
df.head()

  gender  wt   ht
0      m  60  160
1      m  70  170
2      m  80  180
3      f  60  160
4      f  70  170

In [ ]:
df.groupby(['gender'])[['wt','ht']].mean()

          wt     ht
gender
f       65.0  165.0
m       70.0  170.0

In [ ]:
df.groupby(['gender'])[['ht']].mean()

           ht
gender
f       165.0
m       170.0